@charset 'utf-8';
@font-face {
  font-family: 'WebNamumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(/font/NanumGothic.eot);
  src: url(/font/NanumGothic.eot?#iefix) format('embedded-opentype'), url(/font/NanumGothic.woff) format('woff');
  unicode-range: U +1100 -11 FF, U +3130 -318 F, U + AC00-D7A3;
}

body, input {
  font-family: "WebNamumGothic", "Helvetica Neue", sans-serif;
}

/* CSS declarations go here */
li {
  list-style: none;
}

ul {
  margin: 0;
}

.timeago {
  margin-bottom: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* css for stroll */
article ul {
  position: relative;

  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}

article ul li {
  position: relative;
  z-index: 2;

  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

