/* CSS declarations go here */
ul {
  margin: 0;
  list-style: none;
}

.timeago {
  margin-bottom: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* css for stroll */
article ul {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 100px;

  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}

article ul li {
  position: relative;
  z-index: 2;

  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

